
.todo-list {
    .todo {
        .label, .id, .status {
            margin: 6px;
        }
        .status {
            background: yellow;
        }
        .complete {
            background: greenyellow;
        }
        .button {
            width: 60px;
        }
    }
}

